<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="ModelEntities" connectionString="metadata=res://*/SmsDbModel.csdl|res://*/SmsDbModel.ssdl|res://*/SmsDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GQ3DVHG;initial catalog=MittoSMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="SMSEntities" connectionString="metadata=res://*/MittoContext.csdl|res://*/MittoContext.ssdl|res://*/MittoContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GQ3DVHG;initial catalog=MittoSMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ModelEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GQ3DVHG;initial catalog=MittoSMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>